$_topbarBg: #049372;
body,html{
    height:100%;
    width:100%;
    background: #e8e8e8;
}

.top-bar .title-area {
    float: left;
    // text-align: center;
    margin: 0 auto;
}

.tab-bar {
  background: none repeat scroll 0% 0% $_topbarBg;
  .left-small {
    border-right: 1px solid darken($_topbarBg, 4%);
  }
}

.top-bar {
    background: $_topbarBg;
}

.top-bar-section li a:not(.button) {
    background:  $_topbarBg !important;   
}

.top-bar-section li a:not(.button):hover {
    background: darken($_topbarBg, 10%) !important;   
}

.top-bar-section ul li.active > a {
    background:  darken($_topbarBg, 4%) !important;   
}

.top-bar-section ul li.active > a:hover {
    background: darken($_topbarBg, 6%) !important;   
}