//Font 
@import 'fonts';
@import 'overrides';

.off-canvas-wrap, .inner-wrap {
    // height:100%;   
    min-height: 100%;
}

.off-canvas-wrap {  
    height: 100%;
    overflow-y: auto;
}

.page{
    height:100%;   
}

// Free wall
.books-row {
    padding-left: 10px;
    padding-right: 10px;
}
.books {
      // width: 80%;
      // margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
        h1, h2, h3, h4, h5, h6,p {
            font-family:'MON3 Anonta 1';
        }
      .item {
            width: 221.2px;
            background: white;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
            border-radius: 3px;
            color: #333;
            border: none;
            .info {
                padding: 15px;
                color: #333;
                .title {
                    color: #444;
                    font-size: 19px;
                    text-shadow: 0px 0px 1px #ddd;   
                    font-weight: bolder;
                    word-break: all;
                }
                p {
                    margin-bottom: 0;
                }
            }
            img {
                width: 100%;
                max-width: 100%;
                display: block;
                margin: 0px;
                padding: 0px;
                display: block;
            }
        }
}