/* cyrillic */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local("Lobster"), local("Lobster-Regular"), url(http://fonts.gstatic.com/s/lobster/v12/c28rH3kclCLEuIsGhOg7evY6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local("Lobster"), local("Lobster-Regular"), url(http://fonts.gstatic.com/s/lobster/v12/9NqNYV_LP7zlAF8jHr7f1vY6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local("Lobster"), local("Lobster-Regular"), url(http://fonts.gstatic.com/s/lobster/v12/cycBf3mfbGkh66G5NhszPQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'MON3 Anonta 1';
  src: local("MON3 Anonta 1"), url("http://mmwebfonts.comquas.com/fonts/mon3.woff") format("woff"), url("http://mmwebfonts.comquas.com/fonts/mon3.ttf") format("ttf");
}
.site-title {
  font-family: 'Lobster', cursive;
  font-size: 24px !important;
  text-shadow: -1px 1px 0 #666;
}

body, html {
  height: 100%;
  width: 100%;
  background: #e8e8e8;
}

.top-bar .title-area {
  float: left;
  margin: 0 auto;
}

.tab-bar {
  background: none repeat scroll 0% 0% #049372;
}
.tab-bar .left-small {
  border-right: 1px solid #037f63;
}

.top-bar {
  background: #049372;
}

.top-bar-section li a:not(.button) {
  background: #049372 !important;
}

.top-bar-section li a:not(.button):hover {
  background: #03614b !important;
}

.top-bar-section ul li.active > a {
  background: #037f63 !important;
}

.top-bar-section ul li.active > a:hover {
  background: #03755b !important;
}

.off-canvas-wrap, .inner-wrap {
  min-height: 100%;
}

.off-canvas-wrap {
  height: 100%;
  overflow-y: auto;
}

.page {
  height: 100%;
}

.books-row {
  padding-left: 10px;
  padding-right: 10px;
}

.books {
  margin-top: 20px;
  margin-bottom: 20px;
}
.books h1, .books h2, .books h3, .books h4, .books h5, .books h6, .books p {
  font-family: 'MON3 Anonta 1';
}
.books .item {
  width: 221.2px;
  background: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  border-radius: 3px;
  color: #333;
  border: none;
}
.books .item .info {
  padding: 15px;
  color: #333;
}
.books .item .info .title {
  color: #444;
  font-size: 19px;
  text-shadow: 0px 0px 1px #ddd;
  font-weight: bolder;
  word-break: all;
}
.books .item .info p {
  margin-bottom: 0;
}
.books .item img {
  width: 100%;
  max-width: 100%;
  display: block;
  margin: 0px;
  padding: 0px;
  display: block;
}
